@import url("reset.css");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1.5em 1.5em;
  background: #ffffff;
}
.navbar a {
  color: #22215b;
  font-weight: 500;
  font-size: 1.3rem;
}
.navbarCart {
  display: flex;
  align-items: center;
  gap: 0 .8em;
  justify-content: center;
  padding-top: .1em;
}
.userIcon {
  padding-top: .25em;
}
.navbarCart span {
  color: #22215b;
}
@media only screen and (min-width: 768px) {
  .navbar a {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar {
    background: #FFFFFF;
  }
  .navbar a {
    font-size: 1.5rem;
  }
}
