*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: poppins;
}

@font-face {
    font-family: "poppins";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Poppins-Thin.ttf");
  }

@font-face {
    font-family: 'poppins';
    font-weight: 300;
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: 'poppins';
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins';
    font-weight: 500;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins';
    font-weight: 700;
    src: url('../fonts/Poppins-Bold.ttf');
}