.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

.shopCartMain {
  display: flex;
  flex-direction: column;
  gap: 1.5em 0;
  justify-content: space-between;
  text-align: left;
  background: #FFFFFF;
  border-radius: 2em 2em 0 0;
  padding: 1.2em 1.5em;
  box-shadow: 10px 10px 0px #FFFFFF, 0px 0px 10px #c7dded;
}
.cartMain{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 5px 5px 10px #c7dded;
  border-radius: 1em;
  margin-bottom: 1em;
}

.totalPrice {
  background: #EEF7FE;
  box-shadow: 5px 5px 10px #c7dded;
  border-radius: 1em;
  padding: 1em 1.1em;
  display: flex;
  flex-direction: column;
}
.totalPrice p {
  color: #22215b;
  font-size: 1.1rem;
  margin-bottom: 1em;
  font-weight: 300;
}
.totalPrice span {
  font-weight: 500;
}
.handlerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  padding: 0.25em 0.3em;
}
.handlerButtons button {
  background: none;
  padding: 0.6em 1em;
  border-radius: 0.5em;
  font-weight: 500;
  border: 1px solid #578EF5;
}

.handlerButtons button:nth-child(1) {  
  color: #578EF5;
  background: #578EF530;
  border: 1px solid #578EF500;
  box-shadow: 2px 5px 10px #578EF550;
}
.handlerButtons button:nth-child(2) {
  background: #578EF5;
  color: #FFFFFF;
  box-shadow: 5px 5px 10px #578EF570;
}
.nullCart {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.nullCart h3 {
  color: #22215b;
  margin: 3em 0;
  font-size: 1.4rem;
}
.nullCart a {
  font-size: 1.1rem;
  padding: 0.6em 1em;
  border-radius: 0.5em;
  background: #578EF5;
  color: #FFFFFF;
  font-weight: 500;
  box-shadow: 0px 5px 20px #578EF570;
}
@media only screen and (min-width: 768px) {
  .shopCartMainTitle {
    display: none;
  }
  .shopCartMain {
    flex-direction: row;
    gap: 0 2em;
    align-items: flex-start;
  }
  .totalPrice p {
    font-size: 1rem;
  }
  .totalPrice span {
    font-size: 1.1rem;
  }
  .handlerButtons {
    gap: 0 5em;
  }
  .handlerButtons button {
    font-size: 0.9rem;
  }
  .nullCart {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px){
  .shopCartMain{
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid #C7DDED;
  }
  .totalPrice{
    padding: 1.3em;
  }
  .totalPrice p{
    font-size: 1.2rem;
  }
  .handlerButtons{
    gap: 0 8em;
  }
  .handlerButtons button {
    font-size: 1rem;
  }
}