.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5em 5em;
  border-radius: 2em 2em 0 0;
  padding: 1.2em 1.5em;
  box-shadow: 10px 10px 0px #ffffff, 0px 0px 10px #c7dded;
}
.searchBox {
  display: flex;
  align-items: center;
  gap: 0 0.5em;
  border-radius: 1em;
  text-align: left;
  margin: 0 1.5em 1.5em;
  padding: 0.8em 1em;
  box-shadow: 0px 0px 20px #c7dded;
}
.searchBox span {
  display: flex;
}
.searchBox input {
  color: #22215b;
}

.searchBox input::placeholder {
  color: #22215b70;
}
.filterButtons {
  margin: 0 1.5em 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.75em;
}
.filterButtons button {
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  font-size: 0.8rem;
  font-weight: 500;
  background: #578ef530;
  color: #578ef5;
  box-shadow: 0px 5px 10px #c7dded;
  transition: all 0.3s linear;
}
.filterButtons button:active {
  transform: translateY(10px)
}

@media only screen and (min-width: 768px) {
  .productsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 1.5em;
    gap: 3em 5em;
  }
  .searchBox,
  .filterButtons button {
    box-shadow: none;
    border: 1px solid #c7dded;
  }
  .searchBox {
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    background: #ffffff;
  }
  .productsContainer {
    grid-template-columns: repeat(3, 1fr);
    box-shadow: none;
    border-top: 1px solid #c7dded;
    border-radius: 0;
  }
  .searchBox {
    grid-column: 1/4;
  }
}
@media only screen and (min-width: 1300px) {
  .productsContainer {
    grid-template-columns: repeat(4, 1fr);
    padding: 2em 1.5em;
    gap: 4em 3em;
  }
  .searchBox {
    grid-column: 1/5;
  }
}
