.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5em 5em;
  text-align: left;
  border-radius: 2em 2em 0 0;
  padding: 1.2em 1.5em;
  box-shadow: 10px 10px 0px #FFFFFF, 0px 0px 10px #C7DDED;
}

@media only screen and (min-width: 768px) {
  .productsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 1.5em;
    gap: 3em 5em;
  }
  .welcome {
    grid-column: 1/3;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    background: #FFFFFF;
  }
  .productsContainer {
    grid-template-columns: repeat(3, 1fr);
    box-shadow: none;
    border-top: 1px solid #C7DDED;
    border-radius: 0;
  }
}
@media only screen and (min-width: 1300px) {
  .productsContainer {
    grid-template-columns: repeat(4, 1fr);
    padding: 2em 1.5em;
    gap: 4em 3em;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.loading svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 .loading circle {
  fill: none;
  stroke: #578EF5;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 